$color-mono000: #ffffff;
$color-mono100: #EDEDED;
$color-mono200: #DADADA;
$color-mono300: #BBBBBB;
$color-mono400: #7D7D7D;
$color-mono500: #333333;
$color-mono700: #212121;
$color-mono800: #111111;
$color-mono900: #000000;
