.PoiMarker {
  display: flex;
  justify-content: center;

  &__pin {
    position: absolute;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    background-color: $color-black;
    border-radius: 999px;
  }

  &__circle {
    width: 100%;
    height: 100%;
    border-radius: 999px;
    background-color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 24px !important;
      height: 24px !important;
    }

    &--bridge {
      background-color: $color-red;
    }
    &--castle {
      background-color: $color-blue;
    }
    &--church {
      background-color: $color-skyblue;
    }
    &--historical_site {
      background-color: $color-brown;
    }
    &--monument {
      background-color: $color-red;
    }
    &--mosque {
      background-color: $color-skyblue;
    }
    &--museum {
      background-color: $color-brown;
    }
    &--palace {
      background-color: $color-yellow;
    }
    &--piece_of_art {
      background-color: $color-green;
    }
    &--pyramid {
      background-color: $color-brown;
    }
    &--religious_site {
      background-color: $color-skyblue;
    }
    &--tower {
      background-color: $color-orange;
    }
    &--windmill {
      background-color: $color-purple;
    }
  }

  &__title {
    padding: 10px;
    border-radius: 4px;
    color: $color-mono200;
    background-color: $color-black;
    font-size: 12px;
    white-space: nowrap;
  }
}
