.CityInfo {
  background-color: $color-mono700;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999;
  padding: 24px;
  display: flex;
  flex-direction: column;
  animation: slide-in 0.5s forwards;

  .CityInfoHeader {
    margin-top: 24px;
  }

  &--closing {
    animation: slide-out 0.5s forwards;
  }

  &__section {
    margin-top: 40px;
    &__header {
      font-size: 24px;
      color: $color-white;
      font-weight: 400;
      display: flex;
      align-items: center;
      gap: 6px;
    }
    &__cards {
      margin-top: 24px;
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
    }
  }

  @keyframes slide-in {
    from {
      right: -100%;
    }
    to {
      right: 0;
    }
  }

  @keyframes slide-out {
    from {
      right: 0;
    }
    to {
      right: -100%;
    }
  }
}
