.Explore {
  #map {
    width: 100vw;
    height: 100vh;
  }

  &__closeModalButton {
    margin-bottom: 16px;
    transform: translateX(-30%);
  }

  &__cityCards {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
