$color-mono000: #ffffff;
$color-mono100: #ededed;
$color-mono200: #dadada;
$color-mono300: #bbbbbb;
$color-mono400: #7d7d7d;
$color-mono500: #333333;
$color-mono700: #212121;
$color-mono800: #111111;
$color-mono900: #000000;
