@import './_definitions.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $color-mono300;
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 400;
}

html {
  background-color: $color-mono900;
}

@import './pages/Explore/Explore.scss';

@import './components/Modal/Modal.scss';
@import './components/SearchBar/SearchBar.scss';
@import './pages/Explore/components/StartLocationDialog/StartLocationDialog.scss';
