@import './_definitions.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $color-mono300;
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 400;
}

svg {
  color: inherit;
}

path {
  color: inherit;
}

html {
  background-color: $color-mono900;
}

@import './pages/Explore/Explore.scss';

@import './components/Modal/Modal.scss';
@import './components/SearchBar/SearchBar.scss';
@import './components/IconButton/IconButton.scss';
@import './components/FlagIcon/FlagIcon.scss';
@import './components/CityPill/CityPill.scss';
@import './pages/Explore/components/TransportDialog/TransportDialog.scss';
@import './pages/Explore/components/StartLocationDialog/StartLocationDialog.scss';
@import './pages/Explore/components/TripBuilderDialog/TripBuilderDialog.scss';
@import './pages/Explore/components/TransportCards/TransportCards.scss';
