@import './_definitions.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $color-mono300;
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 400;
}

svg {
  color: inherit;
}

path {
  color: inherit;
}

html {
  background-color: $color-mono900;
}

@import './pages/Explore/Explore.scss';

@import './components/Modal/Modal.scss';
@import './components/SearchBar/SearchBar.scss';
@import './components/InputField/InputField.scss';
@import './components/IconButton/IconButton.scss';
@import './components/FlagIcon/FlagIcon.scss';
@import './components/CityPill/CityPill.scss';
@import './components/Drawer/Drawer.scss';
@import './components/CityCard/CityCard.scss';
@import './components/OpenLinkButton/OpenLinkButton.scss';
@import './components/WorldHeritageSiteCard/WorldHeritageSiteCard.scss';
@import './components/PoiCard/PoiCard.scss';
@import './components/CityDetails/CityDetails.scss';
@import './components/CityDetailsHeader/CityDetailsHeader.scss';
@import './components/ExpandableButton/ExpandableButton.scss';
@import './components/CityMarker/CityMarker.scss';
@import './components/PoiMarker/PoiMarker.scss';
@import './pages/Explore/components/TransportDialog/TransportDialog.scss';
@import './pages/Explore/components/StartLocationDialog/StartLocationDialog.scss';
@import './pages/Explore/components/TripBuilderDialog/TripBuilderDialog.scss';
@import './pages/Explore/components/TransportCards/TransportCards.scss';
@import './pages/Explore/components/TripCard/TripCard.scss';
@import './pages/Explore/components/StayDialog/StayDialog.scss';
